commons/target/
chat-server/log/
chat-server/target/
chat-server/config/mycs.properties
game-server/cache/
game-server/config/mygs.properties
game-server/log/
game-server/target/
login-server/log/
login-server/target/
login-server/config/myls.properties

.idea/
**.iml